rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
		function isLoggedIn() {
			return request.auth.uid != null;
		}

		function isAdmin() {
			return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
		}

		match /users/{entry}{
      allow read: if request.auth.uid == entry || isAdmin();
      allow create: if true;
      allow update: if request.auth.uid == entry || isAdmin();
      allow delete: if isAdmin()
		}

		match /products/{entry}{
      allow read: if request.auth.uid == entry || isAdmin();
      allow create: if request.auth.uid == entry || isAdmin();
      allow update: if request.auth.uid == entry || isAdmin();
      allow delete: if request.auth.uid == entry || isAdmin();
		}
  }
}
